.home {
  position: absolute;
  top: 60vh;
  left: 50vw;
  max-width: 23vw;
  text-align: start;
  transition: all 0.25s ease-out;
  font-size: 22px;
  z-index: 2;
}

.active {
  opacity: 100%;
  z-index: 2;
}

.inactive {
  opacity: 0%;
  z-index: -1;
}

@media (max-width: 735px) {
  .home {
    top: 70vh;
    left: 50vw;
    max-width: 35vw;
    font-size: 18px;
  }
}
