.header {
  position: absolute;
  text-align: start;
  top: 30px;
  left: 90px;
}

.header > h1 {
  margin-bottom: -15px;
  font-weight: 100;
}

.header > h3 {
  font-weight: 80;
}

@media (max-width: 720px) {
  .header {
    top: 1px;
    left: 30px;
  }
}
