/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: fit-content; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 200px; /* Stay at the top */
  left: 118px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  text-align: left;
}

.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 22px;
  color: rgb(199, 199, 199);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

ul li:hover:not(.selected) {
  list-style:circle;
}

ul li.selected {
  list-style: disc;
}

ul li.not-selected {
  list-style: none;
}

@media (max-width: 720px) {
  .sidenav {
    top: 120px;
    left: 50px;
  }

  .sidenav a {
    font-size: 18px;
    width: fit-content;
  }
}