.skills {
  position: absolute;
  top: 40vh;
  left: 50vw;
  max-width: 40vw;
  text-align: start;
  transition: all 0.25s ease-out;
  font-size: .9em;
  z-index: 2;
  display: flex;
  gap: 2vw;
  text-align: left;

}

h2 {
  font-size: 25px;
  width: 350px;
  margin: 0px;
}

.active {
  opacity: 100%;
  z-index: 2;
}

.inactive {
  opacity: 0%;
  z-index: -1;
}

@media (max-width: 1400px) {
  .skills {
    top: 40vh;
    left: 40vw;
    max-width: 38vw;
    font-size: 12px;

    h2 {
      font-size: 18px;
      width: 20vw;
    }
  }
}

@media (max-width: 680px) {
  .skills {
    top:20vh;
    left: 40vw;
    max-width: 38vw;
    font-size: 12px;

    h2 {
      font-size: 18px;
      width: 20vw;
    }
  }
}



