.experience {
  position: absolute;
  top: 33vh;
  left: 25vw;
  text-align: start;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: auto;
  transition: all 0.25s ease-out;
  overflow-y: scroll;
  height: 50vh;
}

.experience-card {
  max-width: 390px;
  margin: 10px;
  background-color: rgb(192, 192, 192, 0.1);
  transition: all 0.25s ease-out;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.experience-card > p {
  font-size: 20px;
}
.experience-header {
  display: flex;
  justify-content: start;
  align-items: center;
}
.experience-header > h3 {
  font-size: 25px;
}
.experience > p {
  font-size: 25px;
}
.experience-header > img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .experience {
    position: absolute;
    top: 25vh;
    left: 45vw;
    height: 70vh;
    text-align: start;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    transition: all 0.25s ease-out;
  }
  .experience-header {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .experience > p {
    font-size: 25px;
  }
}
@media (max-width: 700px) {
  .experience {
    position: absolute;
    top: 25vh;
    left: 46vw;
    height: 70vh;
    text-align: start;
    overflow-y: scroll;
    transition: all 0.25s ease-out;
  }
  .experience-card > p {
    font-size: 12px;
  }
  .experience-header {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .experience-header > h3 {
    font-size: 15px;
  }
  .experience > p {
    font-size: 25px;
  }
  .experience-header > img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 10px;
  }
}
